@font-face {
    font-family: 'AllianceBlack';
    src: url(fonts/AllianceNo1-Black.eot);
    src: url(fonts/AllianceNo1-Black.eot?#iefix) format('embedded-opentype'),
        url(fonts/AllianceNo1-Black.ttf) format('truetype'),
        url(fonts/AllianceNo1-Black.woff) format('woff'),
        url(fonts/AllianceNo1-Black.woff2) format('woff2');
}

@font-face {
    font-family: 'AllianceMedium';
    src: url(fonts/AllianceNo1-Medium.eot);
    src: url(fonts/AllianceNo1-Medium.eot?#iefix) format('embedded-opentype'),
        url(fonts/AllianceNo1-Medium.ttf) format('truetype'),
        url(fonts/AllianceNo1-Medium.woff) format('woff'),
        url(fonts/AllianceNo1-Medium.woff2) format('woff2');
}

@font-face {
    font-family: 'AllianceRegular';
    src: url(fonts/AllianceNo1-Regular.eot);
    src: url(fonts/AllianceNo1-Regular.eot?#iefix) format('embedded-opentype'),
        url(fonts/AllianceNo1-Regular.ttf) format('truetype'),
        url(fonts/AllianceNo1-Regular.woff) format('woff'),
        url(fonts/AllianceNo1-Regular.woff2) format('woff2');
}

:root {
    --color-top: #0A0C0F;
    --color-bottom: #1C1F24;
}

body {
    background: linear-gradient(0deg, var(--color-bottom) 63.56%, var(--color-top) 100%);
    height: 3240px;

    margin: 0px;
}

.welcome-wrapper {
    justify-content: center;
    text-align: center;
    display: block;

    padding-top: 183px;
}

.centered {
    overflow: hidden;
    display: flex;
    justify-content: center;

    margin-top: 70px;
}

.header-huge {
    margin: 0px;

    font-family: 'AllianceBlack';
    font-size: 130px;
    line-height: 178px;

    color: #FFFFFF;
}

.list-generic {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.list-item {
    margin: 4px;
}

.medium-big {
    font-family: 'AllianceMedium';
    font-size: 22px;

    color: #FFFFFF;
}

.regular-big {
    font-family: 'AllianceRegular';
    font-size: 22px;

    color: #FFFFFF;
}

.aqua-breeze {
    --color-left: #478CDC;
    --color-right: #B2F293;
    background: linear-gradient(90deg, var(--color-left) 35%, var(--color-right) 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}