/* this file is used for customizing furo theme's typography */

:root {
    --color-brand-primary: #df4c34;
    --color-brand-secondary: #6c7587;
} 

h1 {
    font-family: Arial Black;
    font-size: 4em;
    margin-bottom: 2em;
}
h1::after {
    content: "";
    display: block;
    height: 5px;
    background-color: var(--color-brand-primary);
}
h2 {
    font-family: Arial Black;
    font-size: 2em;
    margin-top: 2em;
    margin-bottom: 1em;
}
h3 {
    font-family: Arial Black;
    font-size: 1.5em;
    margin-top: 1.5em;
    margin-bottom: .6em;
}
h4 {
    font-family: Arial Black;
    font-size: 1.25em;
}
h5 {
    font-family: Arial Black;
    font-size: 1.125em;
}
h6 {
    font-family: Arial Black;
    font-size: 1em;
}
.caption {
    font-family: Arial Black;
}
.caption-bigger {
    font-family: Arial Black;
    font-size: 1.25em;
}
.toc-title {
    font-family: Arial Black;
}

.admonition {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding-bottom: 1em;
}
p.admonition-title {
    margin-block-end: 1em;
}

.sidebar-tree {
    margin-bottom: 10em;
}

footer {
    margin-top: 5em;
    margin-bottom: 5em;
}
.bottom-of-page {
    display: block;
    text-align: center;
}
.bottom-of-page-separator {
    content: "";
    display: block;
    height: 5px;
    background-color: var(--color-brand-primary);
    margin-top: 2em;
}
.community-icons {
    height: 1em;
    display: inline-block;
    margin-bottom: 2em;
}
.community-icon {
    margin: .3em;
}

.admonition-special-thanks {
    background-color: #ff1fc30e;
    border-left: .2rem solid #ff1fc4;
    border-right: .2rem solid #ff1fc4;
    border-radius: .2rem;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.05),0 0 .0625rem rgba(0,0,0,.1);
    margin: 1rem auto;
    overflow: hidden;
    page-break-inside: avoid;
    padding: 1.5em;
    padding-right: .5em;
    text-align: center;
}

ol.arabic, .ul-stylized, .slideshow {
    border-radius: .2rem;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.05),0 0 .0625rem rgba(0,0,0,.1);
    margin: 1rem auto;
    overflow: hidden;
    padding: 0 .5rem .5rem;
    page-break-inside: avoid;
    padding-left: 1.5em;
}
ol.arabic, .ul-stylized {
    border-left: .2rem solid var(--color-brand-secondary);
}

code.literal, p code.literal {
    border: 1px solid var(--color-brand-secondary);
}

table.docutils td, table.docutils td:first-child, table.docutils td:last-child {
    border-top: 1px solid var(--color-brand-secondary);
    border-bottom: 1px solid var(--color-brand-secondary);
    border-left: 1px solid var(--color-brand-secondary);
    border-right: 1px solid var(--color-brand-secondary);
    padding: 0 .25em;
}
tbody {
    border-radius: .2rem;
}

.slideshow {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 0em;
}
.slideshow .content-wrapper .content {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0em;
}
.slideshow .content-wrapper .active {
    display: flex;
}
.slideshow .content-wrapper .row {
    flex-flow: row;
}
.slideshow .content-wrapper .column {
    flex-flow: column nowrap;
}
.slideshow .content-wrapper .content .slideshow-description {
    padding-left: .6em;
}
.slideshow .footer {
    background-color: hsla(0, 0%, 50%, .1);
    text-align: center;
    line-height: 1.3;
    font-weight: 500;
    padding: .4rem;
    display: flex;
    justify-content: space-between;
}
.slideshow .footer .prev, .slideshow .footer .next, .slideshow .footer .controls{
    cursor: pointer;
    text-decoration: none;
    margin-inline: .5em;
}
.slideshow .footer .controls .dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .5s ease;
}
.slideshow .footer .controls .inactive {
    background-color: hsla(0, 0%, 50%, .1);
}
.slideshow .footer .controls .active {
    background-color: hsla(0, 0%, 50%, .5);
}
.slideshow .footer .controls .inactive:hover {
    background-color: hsla(0, 0%, 50%, .5);
}

.content-gallery {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 0em;
    display: flex;
    justify-content: space-evenly;
    /* flex-flow: column wrap; */
}
.content-gallery .content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0em;
}
.content-gallery .content .content-description {
    font-size: smaller;
    padding-left: .6em;
    text-align: center;
    line-height: 1;
}