/* this file is used for customizing furo theme's typography */

:root {
    --color-brand-primary: #df4c34;
    --color-brand-secondary: #6c7587;
} 

h1 {
    font-family: Arial Black;
    font-size: 4em;
    margin-bottom: 2em;
}
h1::after {
    content: "";
    display: block;
    height: 5px;
    background-color: var(--color-brand-primary);
}
h2 {
    font-family: Arial Black;
    font-size: 2em;
    margin-top: 2em;
    margin-bottom: 1em;
}
h3 {
    font-family: Arial Black;
    font-size: 1.5em;
    margin-top: 1.5em;
    margin-bottom: .6em;
}
h4 {
    font-family: Arial Black;
    font-size: 1.25em
}
h5 {
    font-family: Arial Black;
    font-size: 1.125em
}
h6 {
    font-family: Arial Black;
    font-size: 1em
}
.caption{
    font-family: Arial Black;
}
.caption-bigger {
    font-family: Arial Black;
    font-size: 1.25em;
}
.toc-title {
    font-family: Arial Black;
}

.admonition {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding-bottom: 1em;
}
p.admonition-title {
    margin-block-end: 1em;
}

.sidebar-tree {
    margin-bottom: 10em;
}

footer {
    margin-top: 5em;
    margin-bottom: 5em;
}
.bottom-of-page {
    display: block;
    text-align: center;
}
.bottom-of-page-separator {
    content: "";
    display: block;
    height: 5px;
    background-color: var(--color-brand-primary);
    margin-top: 2em;
}
.community-icons {
    height: 1em;
    display: inline-block;
    margin-bottom: 2em;
}
.community-icon {
    margin: .3em;
}

/* code.literal { */
.literal {
    border: 1px solid var(--color-brand-secondary)
}
/* p code.literal {
    border: 1px solid var(--color-brand-secondary)
} */

ol {
    border-left: .2rem solid var(--color-brand-secondary);
    border-radius: .2rem;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.05),0 0 .0625rem rgba(0,0,0,.1);
    margin: 1rem auto;
    overflow: hidden;
    padding: 0 .5rem .5rem;
    page-break-inside: avoid;
    padding-left: 1.5em;
}

.admonition-special-thanks {
    background-color: #ff1fc30e;
    border-left: .2rem solid #ff1fc4;
    border-right: .2rem solid #ff1fc4;
    border-radius: .2rem;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.05),0 0 .0625rem rgba(0,0,0,.1);
    margin: 1rem auto;
    overflow: hidden;
    page-break-inside: avoid;
    padding: 1.5em;
    padding-right: .5em;
    text-align: center;
}